main {
  margin: auto;
  width: 800px;
  background-color: gray;
  padding: 2%;
  display: flex; }
  main :first-child {
    padding-left: 0; }

img {
  margin: 5px; }

.item {
  height: 100%;
  padding-left: 2%; }

.left {
  background-color: red; }

.middle {
  background-color: yellow; }

.right {
  background-color: green; }
