/* ------------------- Compatibility & Convinience & Best Practices ------------------- */

// Default Box-Sizing: Border-Box
// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// This odd 100.01% value for the font size compensates for several browser bugs. First, setting a default body font size in percent (instead of em) eliminates an IE/Win problem with growing or shrinking fonts out of proportion if they are later set in ems in other elements. Additionally, some versions of Opera will draw a default font-size of 100% too small compared to other browsers. Safari, on the other hand, has a problem with a font-size of 101%. The current "best" suggestion is to use the 100.01% value for this property.
html { font-size:100.01%; }
body { font-size:1em; }

// if we set a div's height to 100% it isnt working properly because its 100% of its parents height. if the parent is body but body hasnt set a height value, the div cant inherit correctly. thats why we set 100% width/height to both html and body to allow the viewport dimensions to be properly inhertited down to the div
html, body {
  height: 100%;
  width: 100%;
}



/* ------------------- Browser Upgrade Prompt ------------------- */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #222;
    padding: 0.2em 0;
}



/* ------------------- Opinionated Base Styles ------------------- */

body, input, select, button {
    line-height: 1.5; // or even 1.6
    background-color: #fafafa;
    color: #222; // or #333
    font-family: sans-serif;
    font-size: 1em;
}


p {
  margin-top: 0;
}


// make img, video and svg scale within there parent container
img, video, svg {
  max-width: 100%;
  height: auto;
}


input[type="submit"], input[type="reset"], input[type="button"], button {
  cursor: pointer;
}

input[disabled] {
  cursor: not-allowed;
}

textarea {
  vertical-align: top;
}




// remove double borders from cells
table {
  border-collapse: collapse;
}

// add border and padding to cells
th, td {
  border: 1px solid;
  padding: 1.2em;
}





// Remove text-shadow in selection highlight:  https://twitter.com/miketaylr/status/12228805301
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

// A better looking default horizontal rule
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


// Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers: https://github.com/h5bp/html5-boilerplate/issues/440
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

// Remove default fieldset styles.
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

// Allow only vertical resizing of textareas.
textarea {
    resize: vertical;
}
