
/* ------------------- Default Link Styling ------------------- */

// Remember: LoVe-HAte
// a:link { color:#0271fb; }
// a:visited { color:#bd02fb; }
// a:hover, a:focus { color:#000; }
// a:active { color:#fb0e02; }


/* ------------------- Header ------------------- */

header {

}




/* ------------------- Navigation ------------------- */

nav {
    
}




/* ------------------- Main ------------------- */

main {

}





/* ------------------- Footer ------------------- */

footer {

}





/* ------------------- C&P Media Queries ------------------- */
/* Adjust breakpoints to the layout and not to specific devices! */


@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 900px) {

}

@media only screen and (min-width: 700px) {

}

@media only screen and (min-width: 600px) {

}

