html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  font-size: 100.01%; }

body {
  font-size: 1em; }

body, input, select, button {
  line-height: 1.4;
  background-color: #fafafa;
  color: #222222;
  font-family: sans-serif;
  font-size: 1em; }

body {
  margin: 0; }

main {
  background-color: yellow;
  height: 100%; }

html, body {
  height: 100%;
  width: 100%; }

/*-------------------------------------*/
/* GLOBAL STYLES */
a {
  text-decoration: none; }

strong, b {
  font-weight: 700; }

em, i {
  font-style: italic; }

sub, sup {
  font-size: 65%;
  position: relative;
  line-height: 0; }

sup {
  top: -8px; }

sub {
  bottom: -8px; }

p {
  margin: 0 0 15px 0; }

h6 {
  font-size: 110%; }

h5 {
  font-size: 120%; }

h4 {
  font-size: 130%; }

h3 {
  font-size: 140%; }

h2 {
  font-size: 160%; }

h1 {
  font-size: 180%; }

h1, h2, h3, h4, h5, h6 {
  padding: 0 0 15px 0; }

ol, ul {
  padding-left: 20px;
  list-style-position: inside; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: disc; }

img, video, svg {
  max-width: 100%;
  height: auto; }

input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none; }

input[type="submit"], button {
  cursor: pointer; }

textarea {
  vertical-align: top; }

table {
  border-collapse: collapse; }

th, td {
  border: 1px solid;
  padding: 20px; }

th {
  font-weight: 700; }

/*-------------------------------------*/
/* HELPERS */
/* Helpers: Floats and Clearing */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.clear {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

/* Helpers: Typography */
.ul-base {
  padding: 0;
  list-style-type: none; }

.font-small {
  font-size: 90%; }

.font-smaller {
  font-size: 80%; }

.font-smallest {
  font-size: 70%; }

.font-large {
  font-size: 110%; }

.font-larger {
  font-size: 120%; }

.font-largest {
  font-size: 130%; }

/* Helpers: Centering */
.center {
  text-align: center; }

.center-element {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.vertical-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.dead-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

/* Helpers: Full-width */
.full-width {
  display: block;
  width: 100%; }

/*-------------------------------------*/
/* GRID */
.grid-parent {
  margin-left: -15px;
  margin-right: -15px; }

.grid-parent:after {
  content: "";
  display: table;
  clear: both; }

.grid-child {
  padding-left: 15px;
  padding-right: 15px; }

/*-------------------------------------*/
/* CONTAINERS */
.container-full, .container-main, .container-mid, .container-sm, .container-xs {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px; }

.container-full {
  max-width: 100%; }

.container-main {
  max-width: 1200px; }

.container-mid {
  max-width: 900px; }

.container-sm {
  max-width: 700px; }

.container-xs {
  max-width: 600px; }

/*-------------------------------------*/
/* MEDIA QUERIES */
