html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  font-size: 100.01%; }

body {
  font-size: 1em; }

html {
  line-height: 1.4;
  background-color: #fafafa;
  color: #222222; }

body {
  margin: 0; }
