.box {
  background-color: red;
  height: 200px;
  width: 200px;
  transition: transform 5s ease, background-color 3s linear; }

.wrapper:hover .box {
  transform: translate(1000px, 500px) skew(45deg, 45deg);
  background-color: blue; }
