html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html {
  font-size: 100.01%; }

body {
  font-size: 1em; }

html {
  line-height: 1.4;
  background-color: #fafafa;
  color: #222222; }

body {
  margin: 0; }

ul {
  list-style: none;
  width: 300px;
  margin: 0;
  padding: 0;
  background-color: green; }

li {
  float: left;
  margin: 4px; }
