@import '../templates/styles.scss';


.wrapper {
  width: 200px;
  min-height: 100vh; // oder 100%
  display: flex;
  flex-flow: column nowrap;
}

main {
  background-color: #aFAfaf;
  flex-grow: 1;
}

footer {
  background-color: #333;
  color: white;
  flex-basis: 40px;
}