header {
  background-color: black;
  height: 20%; }

main {
  height: 70%;
  background-color: gray;
  padding: 2%; }
  main :first-child {
    padding-left: 0; }

.col {
  height: 100%;
  width: 33.33333%;
  float: left;
  padding-left: 2%; }

.left {
  background-color: red; }

.middle {
  background-color: yellow; }

.right {
  background-color: green; }

footer {
  height: 10%;
  background-color: black;
  color: white; }
