@import '../templates/styles.scss';


main {
  margin: auto;
  max-width: 1200px;
  column-count: 3; // is equal to columns: 3
  // column-width: 300px; // is equal to columns: 300px;
  column-gap: 2em;
}
