
$red: red;
$blue: blue;
$background-color: $blue;


@mixin button($background, $text) {
    border-radius: 5px;
    background-color: $background;
    color: $text;
}

.button {
    @include button($red, black);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}