body {
    margin: 0;
    padding: 0;
    color: red;
}

/*#myheader ul {

}

#myheader ul li {
    padding: 0;
    background-color: yellow;
    display:inline !important;
}
    
#myheader ul li:hover {
    padding: 0;
    background-color: gray;
    cursor: pointer;
    display:inline !important;
}*/
